@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600&display=swap');
* {
    padding:0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
}
body{

    background-color: cadetblue;
}
header {

    background-image: linear-gradient(to bottom, rgb(16, 130, 134), cadetblue);
    color: azure;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
    
}


#nav > a{

    color: aliceblue;
    font-size: 14px;
    
    padding: 5px;
    font-weight: bold;
   
    
}

#nav > a:hover {
    background-color: rgb(49, 39, 158);
}

#p3{
  
    margin: 30px 50px;
    box-shadow: 20px 20px black;
    width: 30%;
}

p{
    font-size: 15px;
    color: aliceblue;

}


.botao{
    
    background-color:rgb(145, 179, 230);
    width: 180px;
    height: 60px;
    text-align: center;
    border:0px;
    box-shadow: 4px 5px 4px black;
    border-radius: 20px;

}

.botao:hover{

    background-color: blue;
}

.botao:active{
    background-color: brown;
}

.conteudo-principal{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px;
   text-align: center;
   color: aliceblue;
   gap:10px;

}

.conteudo-escrito{
    display:flex;
    flex-direction: column;
    align-items: center;

}


footer{
    text-align: center;
}

h1{
    
    font-family: 'DynaPuff', cursive;
    font-size: 50px;
padding: 10px;
}

h2{
    
    font-family: 'DynaPuff', cursive; 
}


img{
    margin: 10px;
    
}

form{
    padding:30px;
}

